@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600;700&family=Inter:wght@300;400;500;600;700&display=swap");

$black: #201b21;
$dark-grey: #67696e;
$footer-text: #d9dbe1;
$line-light-grey: #e9ebee;
$pale-green: #a7c6ba;
$orange: #ec5e2a;
$white: #fff;
$hero-bg: #eaeeef;

$primary-font: "DM Sans", sans-serif;
$secondary-font: "Inter", sans-serif;

$large-font: 3rem;
$medium-font: 2.2rem;
$sub-medium-font: 1.5rem;
$normal-font: 1rem;
$sub-normal-font: 0.9rem;
$small-font: 0.75rem;

$nav-height: 4rem;

$mobile-padding: 1rem;
$tablet-padding: 3rem;
$desktop-padding: 8rem;
