@import "./mixins";
@import "./variables";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $primary-font;
  padding-top: $nav-height;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $nav-height;
  padding: 0 $mobile-padding;
  border-bottom: 2px solid $line-light-grey;
  color: $black;
}

a,
button {
  text-decoration: none;
  color: inherit;
  &:hover {
    cursor: pointer;
  }
}

// -------------------------------------------- //

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-split {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.absolute-fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fill-page {
  height: 100vh;
}

.image-format {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.page {
  padding: 1rem $mobile-padding;
}

.hidden {
  display: none;
}

.black-button {
  width: 100%;
  height: 4rem;
  border-radius: 1rem;
  background-color: $black;
  color: $white;
  font-family: $secondary-font;
  font-weight: 700;
  font-size: $normal-font;
}

// -------------------------------------------- //

@media screen and (min-width: 768px) {
  nav {
    padding: 0 $tablet-padding;
  }
  .page {
    padding: 2rem $tablet-padding;
  }
}

@media screen and (min-width: 1024px) {
  nav {
    padding: 0 $desktop-padding;
  }
  .page {
    padding: 2rem $desktop-padding;
  }
}
