@import "../../styles/variables";

.hero {
  background-color: $hero-bg;
  border-radius: 1rem;
  padding: 2rem;
}

.heroContent {
  margin-top: 1.5rem;
  gap: 1.5rem;
  text-align: center;
  h2 {
    font-size: $medium-font;
    font-weight: 700;
  }
  h1 {
    font-size: $large-font;
    font-weight: 700;
    line-height: calc($large-font * 0.8);
  }
  h3 {
    font-size: $sub-normal-font;
    font-weight: 400;
    color: $dark-grey;
  }
}

@media screen and (min-width: 768px) {
  .hero div:nth-child(1) {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    max-height: 400px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 4rem;
    padding: 4rem;
    div:nth-child(1) {
      padding: 2rem;
      overflow: hidden;
    }
  }
  .heroContent {
    width: 50%;
    a {
      margin-top: 2rem;
      max-width: 300px;
    }
  }
  .heroContent {
    text-align: left;
    align-items: flex-start;
  }
}
